@(message: String)

@main("Varer") {

    <body>

        <div class="container">
            <h1 class="text-center">Finn dine varer</h1>
            <div class="row">
                <div class="col-xs-8">
                    <h3>Butikk-kart</h3>
                    <div id="leaflet-kart">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class = "row">
                        <div class="col-xs-12">
                            <div class="vareliste">
                                <h3 class="text-center"> Legg til vare </h3>
                                <div class="search">
                                    <input type="text" name="search" placeholder="Søk etter vare her"/>
                                    <button type="button">Søk</button>
                                </div>
                                <ul>
        					        <li>Jernvare
                                       <ul class="jernvarer">
                                           <li>Stekepanne</li>
                                       </ul> 
                                   </li>
        					       <li>Elektro
                                        <ul class="elektro">
                                            <li>Vekkerklokke</li>
                                        </ul>
                                   </li>
        					       <li>Multimedia
                                        <ul class="multimedia">
                                            <li>Stereoanlegg</li>
                                        </ul>
                                   </li>
        					       <li>Hjem
                                        <ul class="hjem">
                                            <li>Puter</li>
                                        </ul>
                                   </li>
        					       <li>Fritid
                                        <ul class="fritid">
                                            <li>skrivebok</li>
                                        </ul>
                                   </li>
      					         </ul>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <div >

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="handleliste">
                                <h3 class="text-center">Handleliste</h3>
                                <ul class="Valgte varer">
                                    <li class="varer">

                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <script>
        var map = L.map('leaflet-kart', {
        maxZoom: 24,
        minZoom: 1,
        zoomControl: false,
        crs: L.CRS.Simple
        }).setView([0, 0], 1);

        map.setMaxBounds(new L.LatLngBounds([0,500], [500,0]));

        var imageUrl = 'http://i57.tinypic.com/2i8deac.png'
        var imageBounds = [[500,0], [0,370]];

        L.imageOverlay(imageUrl, imageBounds).addTo(map);
        </script>

    </body>


}


