@(message: String)

@main("Varer") {

    <body>

        <div class="container">
            <h1 class="text-center">Finn dine varer</h1>
            <div class="row">
                <div class="col-xs-8">
                    <h3>Butikk-kart</h3>
                    <div id="leaflet-kart">
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class = "row">
                        <div class="col-xs-12">
                            <div class="vareklasse">
                                <h3 class="text-center"> Legg til vare </h3>
                                <div class="search">
                                    <input type="text" name="search" placeholder="Søk etter vare her"/>
                                    <button class="knapp" >Søk</button>
                                </div>
                                <ul class="varemeny">
        					        <li>Jernvare
                                       <ul class="jernvarer">
                                           <li>Stekepanne</li>
                                       </ul> 
                                   </li>
        					       <li>Elektro
                                        <ul class="elektro">
                                            <li>Vekkerklokke</li>
                                        </ul>
                                   </li>
        					       <li>Multimedia
                                        <ul class="multimedia">
                                            <li>Stereoanlegg</li>
                                        </ul>
                                   </li>
        					       <li>Hjem
                                        <ul class="hjem">
                                            <li>Puter</li>
                                        </ul>
                                   </li>
        					       <li>Fritid
                                        <ul class="fritid">
                                            <li>Skrivebok</li>
                                        </ul>
                                   </li>
      					         </ul>
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <div >

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="handleliste">
                                <h3 class="text-center">Handleliste</h3>
                                <ul class="Valgte varer">
                                    <li class="varer">

                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>

    </body>


}


